@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: hsl(223, 15%, 95%);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
}

h1 {
  color: #2B303B;
  font-weight: 600;
  font-family: var(--font-sans);
  letter-spacing: -3%;
  font-size: 24px;
}

.receipt-printer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  width: 100%;
  padding: 40px;
}

.receipt-printer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 328px;
}

.receipt-details {
  width: 248px;
  height: 80px;
  padding: 16px;
  background-color: #E2E4E9;
}

.receipt-bottom-wrapper {
  width: 500px;
}

