@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: hsl(223, 15%, 95%);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
}

h1 {
  color: #2B303B;
  font-weight: 600;
  font-family: var(--font-sans);
  letter-spacing: -3%;
  font-size: 24px;
}

.receipt-printer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.receipt-printer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 328px;
}

.receipt-details {
  width: 248px;
  padding: 0px 16px;
  background: linear-gradient(to top, #E2E4E9, #FAFAF9);
  height: auto;
  min-height: 8px;
}

.receipt-bottom-wrapper {
  width: 248px;
}

.appliance {
  font-size: 14px;
  border: solid 0.5px #fafafa;
  border-radius: 8px;
  background-color: #fcfcfc;
  padding: 2px 4px;
  text-transform: capitalize;
}